<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Addon</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/addonis1.png">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}" href="/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" href="/css/nice-select.css">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" href="/css/slicknav.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<header th:insert="index.html :: header"></header>

<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a th:href="@{/}"><i class="fa fa-home"></i> Home</a>
                    <a th:href="@{/addons}"> Addons</a>
                    <span th:text="${addon.name}"> Addons</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Form Section Begin -->

<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div id="addons-container" class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-details-inner">
                    <div class="blog-detail-title">
                        <h2  th:text="'Information about ' + ${addon.name}">information</h2>
                        <p>ADDONIS<span></span></p>
                    </div>
                    <div class="splitLeft">
                        <div class="blog-large-pic">
                            <img th:href="@{'/addon/' + ${addon.name} + '/image'}"
                                 th:src="@{'/addon/' + ${addon.name} + '/image'}" id="addPic" alt=""
                                 height="300" width="300" align="left" hspace="80">
                        </div>

                        <div class="splitLeft1">
                            <div class="tag-share">
                                <div class="details-tag">
                                    <ul >
                                        <li><i class="fa fa-tags"></i></li>
                                        <li th:each="tag : ${addon.tags}" th:text="${tag.tagName}"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Trigger/Open The Modal -->
                        <div>
                            <button id="myBtn" class="site-btn register-btn" style="margin-left: 80px">README</button>

                            <!-- The Modal -->
                            <div id="myModal" class="modal">

                                <!-- Modal content -->
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <div th:utext="${readmeFile}">Test</div> <br/>
                                </div>

                            </div>
                        </div>
                        </br>
                        <a th:if="${addon.status == T(com.addonis.demo.models.enums.Status).APPROVED}" th:href="@{'/addons/download/' + ${addon.id}}"
                           type="submit" class="primary-btn" style="margin-left: 80px">
                            DOWNLOAD </a>
                        <a th:if="${#authentication.name == addon.userInfo.getName() || #authorization.expression('hasRole(''ADMIN'')')}"
                           th:href="@{'/addon/edit/' + ${addon.name}}" type="submit" class="primary-btn" style="margin-left: 80px">
                            EDIT ADDON </a>

                        <form th:if="${#authentication.name  == addon.userInfo.getName() || #authorization.expression('hasRole(''ADMIN'')')}"
                              th:action="@{'/addon/delete?addonName=' + ${addon.name}}" onsubmit="return confirm('Are you sure ?')" method="post">
                            <button style="margin-top: 20px; margin-left: 80px" type="submit" class="site-btn login-btn btn-danger">DELETE</button>
                        </form>



                    </div>
                    <div class="splitRight">
                        <div class="cell">
                            <a id="profileName">Name:</a>
                            <a id="profileName1" th:text="${addon.name}"></a>
                        </div>
                        <div class="cell">
                            <a id="addonDesc">Description:</a>
                            <a th:text="${addon.description}"></a>
                        </div>
                        <div class="cell">
                            <a id="pullsCount">Pulls count:</a>
                            <a th:text="${addon.pullsCount}"></a>
                        </div>
                        <div class="cell">
                            <a id="downCount">Downloads count:</a>
                            <a th:text="${addon.downloadsCount}"></a>
                        </div>
                        <div class="cell">
                            <a id="issuesCount">Issues count:</a>
                            <a th:text="${addon.issuesCount}"></a>
                        </div>
                        <div class="cell">
                            <a id="gitLink">GitHub link:</a>
                            <a id="gitLink1" th:href="${addon.originLink}" th:text="${addon.originLink}"></a>
                        </div>
                        <div class="cell">
                            <a id="creator1">Last commit title:</a>
                            <a th:text="${addon.lastCommit.title}"></a>
                        </div>
                        <div class="cell">
                            <a id="creator2">Last commit date:</a>
                            <a th:text="${addon.lastCommit.date.toString().substring(0,10)}"></a>
                        </div>
                        <div class="cell">
                            <a id="creator">Creator:</a>
                            <a th:text="${addon.userInfo.name}"></a>
                        </div>
                        <div class="cell">
                            <a id="rating111">Rating:</a>
                            <a th:text="${addonRating} + '/5'"></a>
                        </div>
                        <div>
                            <p>
                                <i th:if="${error != null}" th:text="${error}" class="error"/>
                            </p>
                            <form sec:authorize="isAuthenticated()" th:action="@{'/addons/r'}"
                                  th:object="${ratingDto}"  method="post">
                                <div class="rating">
                                    <input type="submit" name="rating" value="5" id="5">
                                    <label for="5">☆</label>
                                    <input type="submit" name="rating" value="4" id="4">
                                    <label for="4">☆</label>
                                    <input type="submit" name="rating" value="3" id="3">
                                    <label for="3">☆</label>
                                    <input type="submit" name="rating" value="2" id="2">
                                    <label for="2">☆</label>
                                    <input type="submit" name="rating" value="1" id="1">
                                    <label for="1">☆</label>
                                </div>
                                <input th:type="hidden" th:value="${addon.id}" th:name="addonID">
                                <input th:type="hidden" th:value="${#authentication.name}" th:name="username">
                                <!--                                <button type="submit" class="site-btn register-btn" style="align-items: center">Rate</button>-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        <div class="split">-->
        <!--            <pre th:text="${readmeFile}">Test</pre> <br/>-->
        <!--        </div>-->
        <!--        </br>-->
    </div>
</section>

<!-- Partner Logo Section Begin -->
<div class="partner-logo">
    <div class="container">
        <div class="logo-carousel owl-carousel">
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-1.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-2.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-3.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-4.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-5.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Partner Logo Section End -->

<footer th:insert="index.html :: footer"></footer>

<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.zoom.min.js"></script>
<script src="/js/jquery.dd.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/pin-header.js"></script>
<script src="js/star-rating.js"></script>
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

</body>

</html>