<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Addonis</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/addonis1.png">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}" href="/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" href="/css/nice-select.css">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" href="/css/slicknav.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="ht-left">
                <div class="mail-service">
                    <i class=" fa fa-envelope"></i>
                    <a id="email" href="mailto:addonis.team@gmail.com?Subject=Hello%20again"
                       target="_top">addonis.team@gmail.com </a>
                </div>
                <div class="phone-service">
                    <i class=" fa fa-phone"></i>
                    +359 888.888.888
                </div>
            </div>
        </div>
        <div class="ht-right">
            <form th:action="@{/login}" sec:authorize="isAuthenticated()" method="post">
                <a href="#" th:href="@{/logout}" class="login-panel">Log out</a>
                <a href="№" th:href="@{/admin}" sec:authorize="hasRole('ADMIN')" class="login-panel">Admin Portal</a>
                <a href="#" th:href="@{/addon-create}" sec:authorize="hasRole('USER') && !hasRole('ADMIN')" class="login-panel"></i>Create addon</a>
                <a href="#" th:href="@{/addons/my-addons}" sec:authorize="hasRole('USER') && !hasRole('ADMIN')" class="login-panel"></i>My addons</a>
                <a href="#" th:href="@{/my-account}" sec:authorize="hasRole('USER') && !hasRole('ADMIN')" class="login-panel"></i>My account</a>
                <a href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()" class="login-panel"><i class="fa fa-user"></i>Login</a>
                <div class="top-social">
                    <a href="https://www.facebook.com/Addonis-109059887435247/?modal=admin_todo_tour"><i class="ti-facebook"></i></a>
                    <a href="https://twitter.com/Addonis78209511"><i class="ti-twitter-alt"></i></a>
                    <a href="#"><i class="ti-linkedin"></i></a>
                    <a href="https://www.pinterest.com/addonisteam/tried/"><i class="ti-pinterest"></i></a>
                </div>
            </form>
            <form th:action="@{/login}" sec:authorize="!isAuthenticated()" method="post">
                <a href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()" class="login-panel"><i class="fa fa-user"></i>Login</a>
                <div class="top-social">
                    <a href="https://www.facebook.com/Addonis-109059887435247/?modal=admin_todo_tour"><i class="ti-facebook"></i></a>
                    <a href="#"><i class="ti-twitter-alt"></i></a>
                    <a href="#"><i class="ti-linkedin"></i></a>
                    <a href="https://www.pinterest.com/addonisteam/tried/"><i class="ti-pinterest"></i></a>
                </div>
                <a href="#" th:href="@{/register}" sec:authorize="!isAuthenticated()" class="login-panel"><i class="fa fa-drivers-license"></i>Register</a>
            </form>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="inner-header" >
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="logo">
                        <a href="index.html" th:href="@{/}">
                            <img src="img/addonis.PNG" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <form th:action="@{'/addons/search?sr='}" method="get">
                        <div class="advanced-search">
                            <div class="input-group">
                                <input type="text" name="sr" style="color:black" placeholder="What are you searching for?">
                                <button type="submit"><i class="ti-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 text-right col-md-3">
                    <ul class="nav-right">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-item" id="myHeader">
        <div class="container">
            <nav class="nav-menu mobile-menu">
                <ul>
                    <li><a th:href="@{/}">Home</a></li>
                    <li class="active"><a th:href="@{/addons}">Addons</a></li>
                    <li><a th:href="@{/contact}">Contact</a></li>
                    <li><a href="#" th:href="@{/about}">About</a></li>
                </ul>
            </nav>
            <div id="mobile-menu-wrap"></div>
        </div>
    </div>
</header>
<!-- Header End -->

<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a th:href="@{/}"><i class="fa fa-home"></i> Home</a>
                    <span>Addons</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->

<!-- Product Shop Section Begin -->
<section class="product-shop spad">
    <div style="width: 1200px" class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">

                <div class="filter-widget">
                    <h4 class="fw-title">IDE</h4>
                    <div style="display: inline" class="fw-tags" th:each="ide : ${ides}">
                        <a th:href="@{'/addons/ide/' + ${ide.ideName}}" th:text="${ide.ideName}">Ide</a>
                    </div>
                </div>

                <div class="filter-widget">
                    <h4 class="fw-title">Tags</h4>
                    <div style="display: inline" class="fw-tags" th:each="tag : ${tags}">
                        <a th:href="@{'/addons/tag/' + ${tag.tagName}}" th:text="${tag.tagName}">Tag</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-101 order-1 order-lg-2">
                <div class="product-show-option">
                    <div class="row">
                        <div class="col-lg-7 col-md-7">
                            <form th:action="@{'/addons'}" method="get">
                            <div class="select-option">
                                <select id="select-sort" name="sort" class="sorting" style="width: 200px;">
                                    <option selected value="name">Name</option>
                                    <option value="downloadsCount">Downloads</option>
                                    <option value="id">Uploaded</option>
                                    <option value="date">Last Commit Date</option>
                                </select>
                                <select id="select-order" name="order" class="sorting">
                                    <option value="ASC">Ascending</option>
                                    <option value="DESC">Descending</option>
                                </select>
                                <input type="submit" class="site-btn login-btn" value="Sort">
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="product-list">
                    <div class="row">
                        <div class="col-lg-41 col-sm-6" th:each="addon : ${addons}">
                            <div class="card">
                                <form th:action="@{'/addons/details/' + ${addon.name}}">
                                    <div class="pi-pic">
                                        <img class="card-img-top" th:href="@{'/addon/' + ${addon.name} + '/image'}"
                                             th:src="@{'/addon/' + ${addon.name} + '/image'}" alt=""
                                             height="250" width="263" style="background-size: contain; padding:55px">
                                    </div>

                                    <div class="card-body">
                                        <div class="catagory-name" th:text="${addon.ideId.ideName}" style="align-items: center">
                                        </div>
                                        <a href="#">
                                            <h5><a th:text="${addon.name.length() > 20 ? addon.name.substring(0,20) : addon.name}"></a></h5>
                                        </a>
                                        <button type="submit" class="site-btn login-btn" style="align-items: center">VIEW</button>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Shop Section End -->

<!-- Partner Logo Section Begin -->
<div class="partner-logo">
    <div class="container">
        <div class="logo-carousel owl-carousel">
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-1.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-2.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-3.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-4.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-5.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Partner Logo Section End -->

<footer th:insert="index.html :: footer"></footer>

<script>
    selectElement('select-sort', "[[${selsort}]]");
    selectElement('select-order', "[[${ordersort}]]");
    console.log("select " + [[${selsort}]]);
    function selectElement(id, valueToSelect) {
        let element = document.getElementById(id);
        element.value = valueToSelect;
    }
</script>

<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.zoom.min.js"></script>
<script src="/js/jquery.dd.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/pin-header.js"></script>
</body>

</html>