<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Addonis</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/addonis1.png">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}" href="/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" href="/css/nice-select.css">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" href="/css/slicknav.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header-section">
    <div class="header-top" id="myHeader1">
        <div class="container">
            <div class="ht-left">
                <div class="mail-service">
                    <i class=" fa fa-envelope"></i>
                    <a id="email" href="mailto:addonis.team@gmail.com?Subject=Hello%20again"
                       target="_top">addonis.team@gmail.com </a>
                </div>
                <div class="phone-service">
                    <i class=" fa fa-phone"></i>
                    +359 888.888.888
                </div>
            </div>
        </div>
        <div class="ht-right">
            <form th:action="@{/login}" sec:authorize="isAuthenticated()" method="post">
                <a href="#" th:href="@{/logout}" class="login-panel">Log out</a>
                <a href="№" th:href="@{/admin}" sec:authorize="hasRole('ADMIN')" class="login-panel">Admin Portal</a>
                <a href="#" th:href="@{/addon-create}" sec:authorize="hasRole('USER') && !hasRole('ADMIN')" class="login-panel"></i>Create addon</a>
                <a href="#" th:href="@{/addons/my-addons}" sec:authorize="hasRole('USER') && !hasRole('ADMIN')" class="login-panel"></i>My addons</a>
                <a href="#" th:href="@{/my-account}" sec:authorize="hasRole('USER') && !hasRole('ADMIN')" class="login-panel"></i>My account</a>
                <a href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()" class="login-panel"><i class="fa fa-user"></i>Login</a>
                <div class="top-social">
                    <a href="https://www.facebook.com/Addonis-109059887435247/?modal=admin_todo_tour"><i class="ti-facebook"></i></a>
                    <a href="https://twitter.com/Addonis78209511"><i class="ti-twitter-alt"></i></a>
                    <a href="#"><i class="ti-linkedin"></i></a>
                    <a href="https://www.pinterest.com/addonisteam/tried/"><i class="ti-pinterest"></i></a>
                </div>
            </form>
            <form th:action="@{/login}" sec:authorize="!isAuthenticated()" method="post">
                <a href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()" class="login-panel"><i class="fa fa-user"></i>Login</a>
                <div class="top-social">
                    <a href="https://www.facebook.com/Addonis-109059887435247/?modal=admin_todo_tour"><i class="ti-facebook"></i></a>
                    <a href="#"><i class="ti-twitter-alt"></i></a>
                    <a href="#"><i class="ti-linkedin"></i></a>
                    <a href="https://www.pinterest.com/addonisteam/tried/"><i class="ti-pinterest"></i></a>
                </div>
                <a href="#" th:href="@{/register}" sec:authorize="!isAuthenticated()" class="login-panel"><i class="fa fa-drivers-license"></i>Register</a>
            </form>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="inner-header" >
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="logo">
                        <a href="index.html" th:href="@{/}">
                            <img src="img/addonis.PNG" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <form th:action="@{'/addons/search?sr='}" method="get">
                    <div class="advanced-search">
                        <div class="input-group">
                            <input type="text" name="sr" style="color:black" placeholder="What are you searching for?">
                            <button type="submit"><i class="ti-search"></i></button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="col-lg-3 text-right col-md-3">
                    <ul class="nav-right">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-item" id="myHeader">
        <div class="container">
            <nav class="nav-menu mobile-menu">
                <ul>w
                    <li class="active"><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/addons}">Addons</a></li>
                    <li><a th:href="@{/contact}">Contact</a></li>
                    <li><a th:href="@{/about}">About</a></li>
                </ul>
            </nav>
            <div id="mobile-menu-wrap"></div>
        </div>
    </div>
</header>
<!-- Header End -->

<!-- Featured Addons Section Start -->
<section class="women-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-99 offset-lg-1">
                <div class="filter-control">
                    <h5 align="left">Featured</h5>
                </div>
                <div class="product-slider owl-carousel">

                    <div class="card" style="width: auto" th:each="addon : ${featured}">
                        <img class="card-img-top" height="192" width="234" th:href="@{'/addon/' + ${addon.name} + '/image'}"
                             th:src="@{'/addon/' + ${addon.name} + '/image'}" alt="Card image cap">
                        <div class="card-body">                                                  <!--  <td th:text="${teacher.active} ? 'ACTIVE' : 'RETIRED'" />   -->
                            <a class="card-title" th:href="@{'/addons/details/' + ${addon.name}}" th:text="${addon.name.length() > 15 ? addon.name.substring(0,15) : addon.name}">Addon name</a><br>
                            <a href="#" class="btn cbutton btn-primary" th:href="@{'/addons/download/' + ${addon.id}}">Download</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured Addons Section End -->


<!-- New Addons Section Begin -->
<section class="women-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-99 offset-lg-1">
                <div class="filter-control">
                    <h5 align="left">New</h5>
                </div>
                <div class="product-slider owl-carousel">

                    <div class="card" style="width: auto" th:each="addon : ${newest}">
                        <img class="card-img-top" height="192" width="234" th:href="@{'/addon/' + ${addon.name} + '/image'}"
                             th:src="@{'/addon/' + ${addon.name} + '/image'}" alt="Card image cap">
                        <div class="card-body">
                            <a class="card-title" th:href="@{'/addons/details/' + ${addon.name}}" th:text="${addon.name.length() > 15 ? addon.name.substring(0,15) : addon.name}">Addon name</a><br>
                            <a href="#" class="btn cbutton btn-primary" th:href="@{'/addons/download/' + ${addon.id}}">Download</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- New Addons Section End -->

<!-- Popular Addons Section Begin -->
<section class="women-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-99 offset-lg-1">
                <div class="filter-control">
                    <h5 align="left">Popular</h5>
                </div>
                <div class="product-slider owl-carousel">

                    <div class="card" style="width: auto" th:each="addon : ${popular}">
                        <img class="card-img-top" height="192" width="234" th:href="@{'/addon/' + ${addon.name} + '/image'}"
                             th:src="@{'/addon/' + ${addon.name} + '/image'}" alt="Card image cap">
                        <div class="card-body">                                                  <!--  <td th:text="${teacher.active} ? 'ACTIVE' : 'RETIRED'" />   -->
                            <a class="card-title" th:href="@{'/addons/details/' + ${addon.name}}" th:text="${addon.name.length() > 15 ? addon.name.substring(0,15) : addon.name}">Addon name</a><br>
                            <a href="#" class="btn cbutton btn-primary" th:href="@{'/addons/download/' + ${addon.id}}">Download</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Popular Addons Section End -->

<!-- Deal Of The Week Section Begin-->
<section class="deal-of-week set-bg spad" data-setbg="img/silver-laptop-in-white-wooden-table-3759098.jpg">
    <div class="container">
        <div class="col-lg-6 text-center">
            <div class="section-title">
                <h2>Save and Add</h2>

                <div class="product-price">
                    $35.00
                    <span>/ per month</span>
                </div>
            </div>
            <div class="countdown-timer" id="countdown">
                <div class="cd-item">
                    <span>56</span>
                    <p>Days</p>
                </div>
                <div class="cd-item">
                    <span>12</span>
                    <p>Hrs</p>
                </div>
                <div class="cd-item">
                    <span>40</span>
                    <p>Mins</p>
                </div>
                <div class="cd-item">
                    <span>52</span>
                    <p>Secs</p>
                </div>
            </div>
            <a th:href="@{/addons}" class="primary-btn">See addons</a>
        </div>
    </div>
</section>
</br></br>
<!-- Deal Of The Week Section End -->


<!-- Instagram Section Begin -->
<div class="instagram-photo">
    <div class="insta-item set-bg" data-setbg="img/38b6ff.png">
    </div>
    <div class="insta-item set-bg" data-setbg="img/pexels-photo-1851415.jpeg">
    </div>
    <div class="insta-item set-bg" data-setbg="img/SteveJobs.png">
    </div>
    <div class="insta-item set-bg" data-setbg="img/pexels-photo-262488.jpeg">
    </div>
    <div class="insta-item set-bg" data-setbg="img/nnnnn.png">
    </div>
    <div class="insta-item set-bg" data-setbg="img/desk-technology-music-white.jpg">
    </div>
</div>
<!-- Instagram Section End -->

<!-- Partner Logo Section Begin -->
<div class="partner-logo">
    <div class="container">
        <div class="logo-carousel owl-carousel">
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-1.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-2.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-3.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-4.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-5.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Partner Logo Section End -->

<!-- Footer Section Begin -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-left">
                    <div class="footer-logo">
                        <a href="#"><img src="img/addonis.PNG" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: 51 Aleksandar Malinov 1000 Sofia</li>
                        <li>Phone: +359 888.888.888</li>
                        <li>Email: addonis.team@gmail.com</li>
                    </ul>
                    <div class="footer-social">
                        <a href="https://www.facebook.com/Addonis-109059887435247/?modal=admin_todo_tour"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/Addonis78209511"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.pinterest.com/addonisteam/tried/"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1">
                <div class="footer-widget">
                    <h5>Information</h5>
                    <ul>
                        <li><a th:href="@{/addons}">About Us</a></li>
                        <li><a th:href="@{/contact}">Contact</a></li>
                        <li><a href="#">Serivius</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h5>My Account</h5>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a th:href="@{/contact}">Contact</a></li>
                        <li><a href="#">Shopping Cart</a></li>
                        <li><a href="#">Shop</a></li>
                    </ul>
                </div>
            </div>
<!--            <div class="col-lg-4">-->
<!--                <div class="newslatter-item">-->
<!--                    <h5>Join Our Newsletter Now</h5>-->
<!--                    <p>Get E-mail updates about our latest shop and special offers.</p>-->
<!--                    <form action="#" class="subscribe-form">-->
<!--                        <input type="text" placeholder="Email">-->
<!--                        <button type="button">Subscribe</button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
    <div class="copyright-reserved">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                            aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <div class="payment-pic">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.zoom.min.js"></script>
<script src="/js/jquery.dd.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/pin-header.js"></script>
</body>

</html>