<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My profile</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/addonis1.png">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}" href="/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" href="/css/nice-select.css">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" href="/css/slicknav.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <header th:insert="index.html :: header"></header>


    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-details-inner">
                        <div class="blog-detail-title">
                            <h2>Here is your personal data</h2>
                            <p>ADDONIS<span></span></p>
                        </div>
                        <div class="blog-large-pic">
                            <img th:if="${userinfo.profileImage} == null" src="img/blank-profile-picture-973460_640.png" height="300" width="300" align="left" hspace="80">
                            <img th:unless="${userinfo.profileImage} == null"
                                    th:href="@{'/my-account/' + ${userinfo.id} + '/userimage'}"
                                 th:src="@{'/my-account/' + ${userinfo.id} + '/userimage'}" alt=""
                                 height="300" width="300" align="left" hspace="80">
                        </div>
                        <div class="cell">
                            <a id="profileName">Username:</a>
                            <a id="profileName1" th:text="${userinfo.name}"></a>
                        </div>
                        <div class="cell">
                            <a id="email1">Email:</a>
                            <a th:text="${userinfo.email}"></a>
                        </div>
                        <div class="cell">
                            <a id="firstname">First name:</a>
<!--                            <a th:if="${userinfo.firstName == null or userinfo.lastName == ''}">Not given</a>-->
                            <a th:unless="${userinfo.firstName == null}" th:text="${userinfo.firstName}"></a>
                        </div>
                        <div class="cell">
                            <a id="lastname">Last name:</a>
<!--                            <a th:if="${userinfo.lastName == null or userinfo.lastName == ''}">Not given</a>-->
                            <a th:unless="${userinfo.lastName == null}" th:text="${userinfo.lastName}"></a>
                        </div>
                        </br>
                        <div class="cell">
                            <a th:href="@{/my-account/edit}" type="submit" class="primary-btn">
                                Edit Profile </a>
                            <a th:href="@{/my-account/password-change}" type="submit" class="primary-btn">
                                Change Password </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->

    <!-- Partner Logo Section Begin -->
    <div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-2.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-3.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-4.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Logo Section End -->

    <footer th:insert="index.html :: footer"></footer>

    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.zoom.min.js"></script>
    <script src="/js/jquery.dd.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/pin-header.js"></script>
</body>

</html>